﻿@using Microsoft.AspNetCore.Identity
@using Zadatak2.Models

@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOut" method="post">
      <button type="submit">Logoff</button>  
    </form>

    <a asp-action="ForgotPassword"> Forgot your password?</a>

}
else
{
    <input type="button" value="Login" onclick="location.href='@Url.Action("Login", "Account")'" />
    <div margin-right:auto; margin-left:auto; >
     @{var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
     }
     <form  asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
     <div>
         <p>
           @foreach (var provider in loginProviders)
           {
            <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
           }
         </p>
     </div>
     </form>
 </div>
}   