﻿@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>
<h3>Associate your @ViewData["LoginProvider"] account.</h3>
<div class="form">
    <form method="post" asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]">
        <div asp-validation-summary="ModelOnly"></div>
        <p class="text-info">
            You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
        </p>
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName"  class="form-control" />
            <span asp-validation-for="LastName" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateofBirth"></label>
            <input asp-for="DateofBirth" class="form-control" />
            <span asp-validation-for="DateofBirth" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="Adress"></label>
            <input asp-for="Adress" class="form-control" />
            <span asp-validation-for="Adress" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="PostalCode"></label>
            <input asp-for="PostalCode" class="form-control" />
            <span asp-validation-for="PostalCode" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="Country"></label>
            <input asp-for="Country" class="form-control" />
            <span asp-validation-for="Country" class="text-warning"></span>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>

    </form>
</div>