﻿@model ForgorPasswordViewModel

<div class="form">
    <form method="post" asp-controller="Account" asp-action="ForgotPassword">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-warning"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>