﻿@model LoginViewModel
@inject SignInManager<User> SignInManager
@using Microsoft.AspNetCore.Identity

@if (SignInManager.IsSignedIn(User))
{
    <div class="form">
        <a href="@Url.Action("ForgotPassword","Account")">Reset Password</a>
    </div>

    <div class="form">
        <form method="post" asp-controller="Account" asp-action="LogOut">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>

}
else
{

    <div class="form">
        <form method="post" asp-controller="Account" asp-action="LogIn">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();

    <section>
        <div class="form">
            <h4>Use another service to Login</h4>
            <form method="post" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]">

                @foreach (var provider in loginProviders)
                {
                    <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme">@provider.AuthenticationScheme</button>
                }
            </form>
        </div>
    </section>
    <div class="form">
        <a href="@Url.Action("Register","Account",FormMethod.Get)">Register as a new user</a>
    </div>

}