﻿@model ResetPasswordViewModel

<h3>Reset your password</h3>

<div class="form">
    <form method="post" asp-controller="Account" asp-action="ResetPassword">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <input asp-for="Code" type="hidden" />
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


