﻿@model ContactFormViewModel
@{
    ViewBag.Title = "Contact";
}

<div class="form">
    <form method="post" asp-controller="Home" asp-action="Submit">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-warning"></span>
       </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="Message"></label>
            <textarea asp-for="Message" class="form-control"></textarea>
            <span asp-validation-for="Message" class="text-warning"></span>
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Send</button>
        </div>   
     </form>

</div>