﻿@model List<Zadatak2.Models.User>
@inject SignInManager<User> signInManager

@if (!signInManager.IsSignedIn(User))
{
    <a href="@Url.Action("Login","Account",FormMethod.Get)">Please login to see your profile page</a>

}
else
{

    <table class="table table-striped">
        <caption>User Profile</caption>
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Adress</th>
                <th>Postal Code</th>
                <th>City</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
                {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.UserProfile.FirstName</td>
                    <td>@user.UserProfile.LastName</td>
                    <td>@user.UserProfile.DateofBirth</td>
                    <td>@user.UserProfile.Adress</td>
                    <td>@user.UserProfile.PostalCode</td>
                    <td>@user.UserProfile.City</td>
                    <td>@user.UserProfile.Country</td>
                </tr>
            }
        </tbody>
    </table>

}