﻿@model IEnumerable<User>
<h2>Registered users</h2>
<table style="width: 500px">
    @foreach(var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
        </tr>
        
     }
</table>